@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/syncopate/v12/pe0sMIuPIYBCpEV5eFdCBfe_.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --tan-shade-1: #fff7f0;
  --tan-shade-2: rgb(224, 217, 208);
  --tan-shade-3: rgb(197, 188, 178);
  --tan-shade-4: rgb(141, 132, 122);
  --green: rgb(61, 141, 68);
}

@media screen and (max-width: 1250px) {

  body {
  font-family: 'Montserrat', sans-serif;

  padding: 0;
  margin: 0;
  background-color: var(--tan-shade-1);
  }

  /* HEADER BANNER */
  .headerRightElement {
    font-size: 14px;
    font-weight: bold;
    color:rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;

    display: inline-block;
    padding-top: 6px;
  }    
  .headerRightElement:hover {
    color:rgb(138, 0, 126);
    font-size: 16px;
    padding-top: 5px;
  }
  .headerBannerHolder {
    height: 32px;
    margin-top: 6px;
  }
  #home {
    width: 79px;
    margin-left: calc(50% - 220px);
  }
  #ourMission {
    width: 134px;
    position: absolute;
    margin-left: 10px;
  }
  #logIn {
    width: 83px;
    position: absolute;
    margin-left: 150px;
  }
  #getStarted {
    width: 131px;
    position: absolute;
    margin-left: 241px;
  }


  /* APP CONTAINER STUFF (i.e., not the game or article) */
  #appHolder {
    width: 920px;
    height: 620px;

    margin-left: calc(50% - 460px);
    margin-top: 5px;
    
    background-color: var(--tan-shade-2);
  }
  .header {
    text-align: center;
    margin: 0;
    
    font-weight: bold;
    letter-spacing: 4px;
  }
  #headerTitle {
    font-size: 56px;
    padding-bottom: 0px;
    padding-top: 5px;
  }
  #headerSubTitle {
    font-size: 17px;
    padding-bottom: 0px;
    padding-top: 0px;
  }



  /* PAGE NAVIGATOR BUTTONS/DISPLAY */
  #pageDisplay {
    position: relative;
    top: 20px;

    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
  }
  button {
    font-size: 15px;

    width: 70px;
    padding-bottom: 7px;
    padding-top: 8px;
    padding-left: 9px;
    padding-right: 9px;

    border: none;
    background-color: var(--tan-shade-3);
    border-radius: 30px;
    transition: 0.15s;
  }
  #buttonsHolder {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 15px;
  }
  button:hover{
    background-color: var(--green);
    font-size: 16px;
  }
  #buttonPrev {
    justify-self: end;
    margin-right: 5px;
  }
  #buttonNext {
    margin-left: 5px;
  }


  /* CONTENT STUFF */
  .contentHolder {
    width: 400px;
    height: 400px;

    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 20px;

    margin: 0;
    padding: 0;

    background-color: var(--tan-shade-3);
  }
  #contentLeft {
    left: 40px;
  }
  #contentRight {
    left: 80px;
  }
  article {
    padding: 25px;
    padding-top: 0px;
    font-weight: bold;
    font-size: 12px;
    text-align: justify;
  }
  #page1 {
    opacity: 100;
  }
  #page2 {
    opacity: 0;
  }
  h3 {
    font-size: 15px;
    text-align: center;
  }
  h4 {
    font-size: 14px;
    text-align: center;
    margin-bottom: 2px;
    margin-top: 24px;
  }
  h5 {
    font-size: 14px;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 24px;
  }
  h6 {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  /* GAME 1 STUFF */
  #gridHolder {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    width: 300px;
    position: relative;
    top: 5px;
    left: 50px;
  }
  #goText {
    font-weight: bold;
    text-align: center;
    font-size: 30px;

    margin-top: 17px;
    margin-bottom: 17px;
  }
}

@media screen and (min-width: 1251px) {

  body {
  font-family: 'Montserrat', sans-serif;

  padding: 0;
  margin: 0;
  background-color: var(--tan-shade-1);
  }

  /* HEADER BANNER */
  .headerRightElement {
    font-size: 18px;
    font-weight: bold;
    color:rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;

    display: inline-block;
    padding-top: 8px;
  }    
  .headerRightElement:hover {
    color:rgb(138, 0, 126);
    font-size: 20px;
    padding-top: 6px;
  }
  .headerBannerHolder {
    height: 40px;
    margin-top: 8px;
  }
  #home {
    width: 99px;
    margin-left: calc(50% - 275px);
  }
  #ourMission {
    width: 168px;
    position: absolute;
    margin-left: 13px;
  }
  #logIn {
    width: 104px;
    position: absolute;
    margin-left: 188px;
  }
  #getStarted {
    width: 164px;
    position: absolute;
    margin-left: 301px;
  }


  /* APP CONTAINER STUFF (i.e., not the game or article) */
  #appHolder {
    width: 1150px;
    height: 775px;

    margin-left: calc(50% - 575px);
    margin-top: 6px;
    
    background-color: var(--tan-shade-2);
  }
  .header {
    text-align: center;
    margin: 0;
    
    font-weight: bold;
    letter-spacing: 5px;
  }
  #headerTitle {
    font-size: 70px;
    padding-bottom: 0px;
    padding-top: 6px;
  }
  #headerSubTitle {
    font-size: 21px;
    padding-bottom: 0px;
    padding-top: 0px;
  }



  /* PAGE NAVIGATOR BUTTONS/DISPLAY */
  #pageDisplay {
    position: relative;
    top: 25px;

    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
  }
  button {
    font-size: 19px;

    width: 88px;
    padding-bottom: 9px;
    padding-top: 10px;
    padding-left: 11px;
    padding-right: 11px;

    border: none;
    background-color: var(--tan-shade-3);
    border-radius: 38px;
    transition: 0.15s;
  }
  #buttonsHolder {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 19px;
  }
  button:hover{
    background-color: var(--green);
    font-size: 20px;
  }
  #buttonPrev {
    justify-self: end;
    margin-right: 6px;
  }
  #buttonNext {
    margin-left: 6px;
  }


  /* CONTENT STUFF */
  .contentHolder {
    width: 500px;
    height: 500px;

    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 31px;

    margin: 0;
    padding: 0;

    background-color: var(--tan-shade-3);
  }
  #contentLeft {
    left: 50px;
  }
  #contentRight {
    left: 100px;
  }
  article {
    padding: 31px;
    padding-top: 0px;
    font-weight: bold;
    font-size: 15px;
    text-align: justify;
  }
  #page1 {
    opacity: 100;
  }
  #page2 {
    opacity: 0;
  }
  h3 {
    font-size: 19px;
    text-align: center;
  }
  h4 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 30px;
  }
  h5 {
    font-size: 18px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 30px;
  }
  h6 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 13px;
    margin-top: 25px;
  }

  /* GAME 1 STUFF */
  #gridHolder {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;

    width: 375px;
    position: relative;
    top: 6px;
    left: 63px;
  }
  #goText {
    font-weight: bold;
    text-align: center;
    font-size: 38px;

    margin-bottom: 21px;
  }
}
